@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

header {width:100%;}
.head {width:100%; height:auto;  background-color: #2abbf4;
  top: 0; left: 0; bottom: 0; right: 0; margin: auto;}

nav {width:100%;left:0; top:0;  box-shadow: 0 0 5px rgba(0,0,0,.5);}

.head-left {width:30%; display:inline-block;
display: table-cell;text-align: center; padding:0;}
.head-left span {padding-left: 25px;}

/*로고 위치지정*/
.head-left a {margin-right: -100px;}

.head-left a span {color:#fff; font-size: 21px; font-family: "맑은고딕";}

.head-middle {width:48%; min-width: 980px; display:inline-block; display:flex; display: table-cell; position: relative; text-align: center;
padding:25px 0 0 0; }

.head-middle > span {flex:1; color:#000; display:block; }
.head-middle a.on {color:#fff;}
/*비행기 높이 조정*/
.head-middle > span { position:absolute; top:55px;
    opacity: 0; transition: all .5s;
}
.head-middle a span { padding-left: 75px;
  font-size: 22px;
    font-family: "맑은고딕";
    color: #fff;
}
/*발바닥 움직이는 애니메이션 */
@keyframes rightmargin {0% {margin-right: 4.5%;} 100%{margin-right: 84%;}
}
.move { position:absolute; top:55px; right:0; animation:rightmargin 8s linear infinite alternate;}

/**/
.head-right {width:22%; min-width: 300px; display:inline-block;
  display: table-cell; text-align: left;
padding:25px 0 0 0;
}
.head-right span {padding-left: 15px;}
.head-right a span {
  font-size: 20px; font-family: "맑은고딕"; color: #fff;
}
.head-right a span img {position: absolute; top:12px; right:65px;}

.box
{ display: inline-block;
	position: relative;
  left:25px;
	width: 100px;
	height: 50px;
	box-sizing: border-box;
	text-align: center;

}

.box .icon
{
	width: 100px;
	height: 50px;
	background:  #2abbf4;
	transition: 0.5s;
	transform-origin: top;
	transform: translateY(0) rotateX(0deg);
}

.box:hover .icon
{
 transform: translateY(100%) rotateX(90deg);
}

.box .icon .fa
{
	font-size: 4em;
	line-height: 100px;
	color: #999;
}

.box .details
{
	position: absolute;
	top: 0;
	left: 0;
	width: 120px;
	height: 50px;
	background:  #2abbf4;
	transition: 0.5s;
	transform-origin: bottom;
	transform: translateY(-100px) rotateX(90deg);
}
.box:hover .details
{
	transform: translateY(0) rotateX(0deg);
}
.box .details h3
{
	margin: 0;
	padding: 0;
	line-height: 40px;
	font-size: 24px;
	color: #fff;
	font-family: sans-serif;
}

.box:nth-child(2) .details
{
 background:  #2abbf4;
}


.box:nth-child(3) .details
{
	background:  #2abbf4;
}
